*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    overflow: hidden;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(240, 251, 255);
    
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 100px;

}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
    
}
header ul li :hover{
    background-color: rgb(224, 233, 233);
    border-radius: 10px;
    font-size: 25px;
    box-sizing: border-box;
    display: block;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 70px;
    display: flex;
    text-decoration:none;
    font-size: 20px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 700px;
}
.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: rgb(52, 119, 196);
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p{
    color: #333;
    font-size: 1.5em;

}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background:rgb(52, 119, 196);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox{
    width: 800px;
    display: flex;
    /* justify-content: flex-end; */
    padding-left: 10px;
    padding-top: 50px;

}
.content .imgBox img{
    max-width: 940px;
}